html(lang="cs")
	head
		meta(charset="UTF-8")
		title Myslím si číslo
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		style.
			body {
				font-family: sans-serif;
				padding: 30px 0;
			}
			textarea {
				box-sizing: border-box;
				margin-left: 2em;
				width: calc(100% - 2em);
				tab-size: 4;
				resize: none;
				border: 1px solid #DADADA;
				padding: 0.5em;
			}
			.container {
				max-width: 600px;
				margin: 0 auto;
			}
	body
		.container
			block content
