extends @layout.pug

block content
	h1 Myslím si číslo
	p Tvým úkolem bude naprogramovat hru na hádání čísla. Vyber si variantu.

	ul
		li Číslo od jedné do deseti
			ul
				li
					a(href="nahodne-cislo/od/1/do/10/id/varianta-a") Varianta A
				li
					a(href="nahodne-cislo/od/1/do/10/id/varianta-b") Varianta B
				li
					a(href="nahodne-cislo/od/1/do/10/id/varianta-c") Varianta C
				li
					a(href="nahodne-cislo/od/1/do/10/id/varianta-d") Varianta D
				li
					a(href="nahodne-cislo/od/1/do/10/id/varianta-e") Varianta E
		li Číslo od jedné do sta
			ul
				li
					a(href="nahodne-cislo/od/1/do/100/id/varianta-a") Varianta A
				li
					a(href="nahodne-cislo/od/1/do/100/id/varianta-b") Varianta B
				li
					a(href="nahodne-cislo/od/1/do/100/id/varianta-c") Varianta C
				li
					a(href="nahodne-cislo/od/1/do/100/id/varianta-d") Varianta D
				li
					a(href="nahodne-cislo/od/1/do/100/id/varianta-e") Varianta E
		li Číslo od jedné do tisíce
			ul
				li
					a(href="nahodne-cislo/od/1/do/1000/id/varianta-a") Varianta A
				li
					a(href="nahodne-cislo/od/1/do/1000/id/varianta-b") Varianta B
				li
					a(href="nahodne-cislo/od/1/do/1000/id/varianta-c") Varianta C
				li
					a(href="nahodne-cislo/od/1/do/1000/id/varianta-d") Varianta D
				li
					a(href="nahodne-cislo/od/1/do/1000/id/varianta-e") Varianta E
