extends @layout.pug

block content
	h1 Pravidla
	p <b>Myslím si číslo</b> od <b>#{min}</b> do <b>#{max}</b>. Napiš webovou stránku s formulářem, do kterého bude moct uživatel zadat číslo. Po odeslání mu řekni, jestli si myslel stejné číslo jako já.

	h2 Zadání
	ol
		li Vytvoř si u sebe nový html soubor se základní strukturou.
		li Vytvoř odstavec <code>&lt;p&gt;</code> s textem <code>Myslím si číslo. Zkus uhádnout jaké.</code>
		li Přidej formulář <code>&lt;form&gt;</code> s jedním vstupem <code>&lt;input&gt;</code> na číslo a odesílacím tlačítkem.
		li JavaScriptem zamez standardní odeslání formuláře. Místo toho zašli zadaný údaj pomocí fetche na příslušný endpoint.
			<textarea id="endpoint" rows="2">fetch(/* tato adresa */`?tip=${input.value}`)</textarea>
			script.
				(() => {
					const textarea = document.querySelector('#endpoint')
					textarea.textContent = textarea.textContent.replace('/* tato adresa */`', `\`${window.location}`)
				})()
		li Zpět ti přijde odpověď ve formátu JSON. Uživateli zobraz přepsáním textu v odstanci <code>&lt;p&gt;</code> z přijatých dat hodnotu <code>message</code>.
	h3 Bonus
	ul
		li Nastyluj stránku podle vlastního uvážení.
		li Přidej inputu atributy <code>min="1"</code> a <code>max="10"</code> jako doplněk k <code>type="number"</code>.
		if max - min < 20
			li Napiš script, který automaticky postupně vyzkouší všechny možnosti, dokud nenarazí na správnou dopověď.
